@import "../../Sass/global";

#homeMovies {
  padding-top: 0px;
  margin-bottom: 220px;
}

.nav-tabs {
  justify-content: center;
  border: none;
  margin-bottom: 30px;
}

@media only screen and(max-width: 768px) {
  .nav-tabs.navCenter li button {
    font-size: 15px;
  }
}
